body {
  margin: 0;
}

.menu-list {
  z-index: 4;
  list-style: none;
  padding: 10px 5px;
  margin: 0;
  background: rgba(255, 255, 255, 0.925);
  left: 440px;
  height: 40px;
}

.menu-list :hover {
  color: #05d7b4;
  text-decoration: none;
  text-shadow: none;
}

.menu-label {
  float: left;
  position: relative;
  margin: 5px 30px;
  padding: 0;
  font-size: 18px;
  z-index: 1;
}

.menu-label a {
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  padding: 10px;
  color: black;
  margin: 0;
  left: 8px;
  text-decoration: none;
}

.sub-menu {
  list-style: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 80px;
  text-align: center;
  top: 45px;
  opacity: 0;
  z-index: 2;
}

.sub-menu :hover {
  color: rgb(0, 0, 0);
}

.menu-list ul li {
  float: none;
  padding: 0;
  top: 0;
  font-size: 12px;
}

.menu-label ul a {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.459);
}

.menu-list li:hover ul {
  opacity: 1;
}

.menu-list li:hover ul li {
  height: 40px;
  width: 150px;
  overflow: visible;
}

.whale_down {
  z-index: 4;
  position: fixed;
  right: 90px;
  top: 23px;
  width: 125px;
  height: 48px;
  border-radius: 5px;
  color: #05c3a7;
  background-color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid rgb(13, 212, 196);
}

.whale_down:hover {
  background-color: #05c3a7;
  color: white;
  transition-duration: 0.4s;
}

.whale_logo {
  text-decoration: none;
  position: fixed;
  z-index: 4;
  color: rgba(0, 0, 0, 0.705);
  top: 25px;
  left: 145px;
}

#list_main {
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
}
#nav {
  position: relative;
  top: 60px;
}
body {
  margin: 0;
  padding: 0;
}

.text {
  position: absolute;
  top: 300px;
  left: 150px;
  font-size: 60px;
  font-weight: bold;
}
.text2 {
  position: absolute;
  top: 380px;
  left: 150px;
  font-size: 60px;
  font-weight: bold;
}
.text3 {
  position: absolute;
  left: 150px;
  top: 500px;
  font-weight: bold;
}

header a {
  position: relative;
  left: 450px;
}

.block {
  display: block;
  width: 100%;
}

.main1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.down {
  position: absolute;
  left: 150px;
  top: 630px;
  border-radius: 50px;
  background-color: #05c3a7;
  color: white;
  padding: 8px 30px;
  font-size: 30px;
  height: 77px;
  width: 250px;
  border: 1px solid rgb(13, 212, 196);
}

.menu-label sub-menu {
  position: relative;
  right: 150px;
}

#sub1 {
  position: absolute;
  top: 70px;
}

#sub2 {
  position: absolute;
  top: 70px;
  left: -40px;
}

#sub3 {
  position: absolute;
  top: 70px;
  left: -40px;
}

#sub4 {
  position: absolute;
  top: 70px;
  left: -40px;
}

#sub5 {
  position: absolute;
  top: 70px;
  left: -15px;
}

#sub6 {
  position: absolute;
  top: 70px;
  left: -40px;
}

.body1 {
  background-color: #f9fafc;
}

footer {
  position: absolute;
  width: 100%;
  height: 17%;
  top: 4300px;
  left: 0px;
  background-color: rgba(247, 247, 247, 0.986);
}

.footerList {
  list-style: none;
  color: wheat;
  text-align: center;
}

.li1 a {
  position: absolute;
  top: 100px;
  left: 550px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  float: left;
}

.li2 a {
  position: absolute;
  top: 100px;
  left: 650px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  float: left;
}
.li3 a {
  position: absolute;
  top: 100px;
  left: 800px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  float: left;
}
.li4 a {
  position: absolute;
  top: 100px;
  left: 1065px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  float: left;
}
.li5 a {
  position: absolute;
  top: 100px;
  left: 1150px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  float: left;
}
.li6 a {
  position: absolute;
  top: 103px;
  left: 1230px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  float: left;
}

.naverWhale {
  position: absolute;
  left: 900px;
  bottom: 90px;
  font-size: 20px;
}

.naverWhale {
  color: rgb(122, 122, 122);
}

#beta {
  position: absolute;
  left: 1380px;
  top: 92px;
  border-radius: 5px;
  color: #9c9c9c;
  background-color: rgba(247, 247, 247, 0.986);
  font-size: 12px;
  padding: 13px 17px;
  border: 1px solid #9c9c9c;
}

img {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mint {
  display: block;
  position: absolute;
  background: linear-gradient(to bottom left, #12d7b9 60%, #0580e5);
  width: 100%;
  height: 100%;
  top: 985px;
  left: 0px;
}

.blue {
  display: block;
  position: absolute;
  background: linear-gradient(to bottom left, #0580e5, #12d7b9 90%);
  width: 100%;
  height: 100%;
  top: 1969px;
}

.purple {
  display: block;
  position: absolute;
  background: linear-gradient(to top right, #793fff, #fff 95%);
  width: 100%;
  height: 100%;
  top: 2800px;
}

.naverfill {
  background-color: rgba(255, 255, 255, 0.925);
  position: fixed;
  width: 440px;
  height: 95px;
  top: 0;
  z-index: 1;
}

#popUp {
  position: fixed;
  width: 2000px;
  height: 130px;
  top: 95px;
  background-color: rgba(255, 255, 255, 0.925);
  z-index: 1;
}

.hidden {
  display: none;
}

.line {
  position: fixed;
  width: 2000px;
  height: 1px;
  background-color: #e0e0e0;
  z-index: 4;
  top: 95px;
}

.sub-menu li a {
  font-size: 14px;
}

.container {
  width: 300vw;
  transition: transform 0.5s;
}

.container h1 {
  position: absolute;
  z-index: 1;
  top: 1380px;
  left: 200px;
  font-size: 55px;
  font-weight: bold;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 68px;
  text-align: left;
  word-spacing: 5px;
}

.inner {
  width: 100vw;
  float: left;
}

.inner img {
  z-index: 3;
  width: 700px;
  height: 400px;
  position: absolute;
  left: 950px;
  top: 1290px;
  border-radius: 55px;
}

.btn1 {
  position: absolute;
  border-color: transparent;
  background-color: #e0e0e0d5;
  width: 10px;
  height: 15px;
  border-radius: 10px;
  top: 1848px;
  left: 880px;
}

.btn2 {
  position: absolute;
  border-color: transparent;
  background-color: #e0e0e0d5;
  width: 10px;
  height: 15px;
  border-radius: 10px;
  top: 1848px;
  left: 900px;
}

.btn3 {
  position: absolute;
  border-color: transparent;
  background-color: #e0e0e0d5;
  width: 10px;
  height: 15px;
  border-radius: 20px;
  top: 1848px;
  left: 920px;
}
.whale_on {
  background-color: white;
  color: #12d7b9;
}

.container h2 {
  position: absolute;
  top: 1305px;
  left: 200px;
  font-size: 28px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.712);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
  word-spacing: -1px;
}

.circle {
  z-index: 1;
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: transparent;
  border: 2.5px solid rgba(255, 255, 255, 0.897);
  border-radius: 200px;
  top: 1050px;
  left: 1300px;
}
.circle2 {
  z-index: 1;
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #00d1b2;
  border-radius: 200px;
  top: 1300px;
  left: 1750px;
}

.circle3 {
  z-index: 1;
  width: 600px;
  height: 600px;
  position: absolute;
  background-color: transparent;
  border: 2.5px solid rgba(255, 255, 255, 0.897);
  border-radius: 300px;
  top: 1000px;
  left: -430px;
}

.circle4 {
  z-index: 1;
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: transparent;
  border: 2.5px solid rgba(255, 255, 255, 0.897);
  border-radius: 250px;
  top: 1100px;
  left: -300px;
}

.container h3 {
  position: absolute;
  top: 1600px;
  left: 200px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
  word-spacing: -1px;
}

.www {
  z-index: 1;
  position: absolute;
  width: 500px;
  height: 100px;
  top: 3980px;
  left: 710px;
}

.down2 {
  z-index: 1;
  position: absolute;
  left: 836px;
  top: 4100px;
  border-radius: 50px;
  background-color: #05d6b4;
  color: white;
  padding: 5px 10px;
  font-size: 30px;
  height: 73px;
  width: 230px;
  border: 1px solid rgb(13, 212, 196);
}
